* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Main */

.ts-h1, .ts-h2 {
    font-size: clamp(24px, 2vw + 2rem, 38px);
    text-align: center;
}

@media (max-width: 1200px) {
    .ts-h1, .ts-h2 {
        font-size: 19px;
    }
}

@media (max-width: 600px) {
    .ts-h1, .ts-h2 {
        font-size: 17px;
    }
}

.ts-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.colorSpan {
    color: #09f;
}

.ts-video {
    position: relative;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.ts-miraVideo {
    position: absolute;
    top: 40%;
    transform: translate(-50%);
    width: 300px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    color: #ffffff;
    font-size: large;
}

.ts-miraVideo:hover {
    transform: scale(1.1) translate(-50%);
    background: rgba(255, 255, 255, 0.3);
}

.botonVideo {
    color: #ffffff;
}






